<p>Ceci est la page d'aide. Si vous en avez besoin c'est domage car on a rien pour aider, il n'y a aucun réel service.</p>
<p>Pourquoi aucun service ? Car ceci n'est qu'un site de test, ou plutôt d'entrainement pour être exact.</p>
